<div class="card-body">
    <h4 class="card-title mb-4">
      {{ "USERITEMINFO.HEDING.PERSONAL" | translate }}
    </h4>
    <div class="table-responsive">
      <table class="table table-nowrap mb-0">
        <tbody>
          <tr>
            <th scope="row">
              {{ "USERITEMINFO.PHONE" | translate }}
              :
            </th>
            <td>{{ userItem.mobileNumber }}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ "USERITEMINFO.FULLNAME" | translate }}
              :
            </th>
            <td>{{ userItem.name }}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ "USERITEMINFO.NATIONALID" | translate }}
              :
            </th>
            <td>{{ userItem.nationalId }}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ "USERITEMINFO.EXPIRYDATE" | translate }}
              :
            </th>
            <td>{{ userItem.expiryDate }}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ "USERITEMINFO.religion" | translate }}
              :
            </th>
            <td>{{ userItem.religion }}</td>
          </tr>

          <tr>
            <th scope="row">
              {{ "USERITEMINFO.GENDER" | translate }}
              :
            </th>
            <td>{{ userItem.gender }}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ "USERITEMINFO.AGE" | translate }}

              :
            </th>
            <td>{{ userItem.age }}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ "USERITEMINFO.MARTIALSTATUS" | translate }}

              :
            </th>
            <td>{{ userItem.maritalStatus }}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ "USERITEMINFO.EMAIL" | translate }}
              :
            </th>
            <td>{{ userItem.email }}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ "USERITEMINFO.COMPANYNAME" | translate }}
              :
            </th>
            <td>{{ userItem.companyName }}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ "USERITEMINFO.EDUCATION" | translate }}
              :
            </th>
            <td>{{ userItem.education }}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ "USERITEMINFO.OCCUPATION" | translate }} :
            </th>
            <td>{{ userItem.occupation}}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ "USERITEMINFO.JOBTITLE" | translate }}
              :
            </th>
            <td>{{ userItem.jobTitle }}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ "USERITEMINFO.EMERGENCYCONTACTPERSON" | translate }}
              :
            </th>
            <td>{{ userItem.emergencyContactPerson }}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ "USERITEMINFO.EMERGENCYCONTACTNUMBER" | translate }}
              :
            </th>
            <td>{{ userItem.emergencyContactPhoneNumber }}</td>
          </tr>



          <tr>
            <th scope="row">
              {{ "USERITEMINFO.CAR" | translate }}
              :
            </th>
            <td>{{ userItem.car }}</td>
          </tr>

          <tr>
            <th scope="row">
              {{ "USERITEMINFO.CARMODELYEAR" | translate }}
              :
            </th>
            <td>{{ userItem.carModelYear }}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ "USERITEMINFO.CLUBID" | translate }}
              :
            </th>
            <td>{{ userItem.clubId }}</td>
          </tr>
          <tr>
            <th scope="row">
              {{ "USERITEMINFO.CLUDCATEGORY" | translate }}
              :
            </th>
            <td>{{ userItem.clubCategory }}</td>
          </tr>


          <!-- <tr>
            <th scope="row">
              {{ "USERITEMINFO.HASCAR" | translate }}
              :
            </th>
            <td>{{ userItem.hasCar }}</td>
          </tr> -->
          <!-- <tr>
            <th scope="row">
              {{ "USERITEMINFO.HASCLUBID" | translate }}
              :
            </th>
            <td>{{ userItem.hasClubId }}</td>
          </tr> -->


          <tr>
            <th scope="row">
              {{ "USERITEMINFO.STATUS" | translate }}
              :
            </th>
            <td>{{ userItem.status }}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
